.project-3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 200px;
  width: 60vw;

}
.right-panel{
  display: flex;
  flex-direction: column;
  align-items: right;
}
.project-description3 p{
  background: #172a45;
  padding: 20px 20px;
  width: 450px;
  overflow: hidden;
  text-align: right;
  font-size: 1.2rem;
  position: relative;
}
.p-3-feature, .project3-title{
  position: relative;
  text-align: right;
  margin-top: 0 !important;
}
.project3-title{
  color: #d6dffc;
}
.p-3-feature{
  color: #64ffda;
}
.nps{
  height: 320px;
  width: 500px;
  position: relative;
  left: 30px;
  opacity: .8;
}
.nps:hover{
  opacity: 1;
}

.projects3-stacks li{
  padding-right: 10px;
  font-size: 1.1rem;
}

.projects3-stacks{
  display: flex;
  align-items: flex-end;
  margin-top: 15px 0 20px 0;
  position: relative;
  left: 225px
}
.project3-links{
  padding-right: 10px;
  text-align: right;
  position: relative;
  font-size: 1.5rem;
  margin-top: 20px
}
.link-document3 i{
  color: #d6dffc;
  padding-left: 20px;
}

.link-document3 i:hover{
  color: #64ffda
}